
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a class="navbar-brand" [routerLink]="['home']">Home</a>
		<a class="navbar-brand" [routerLink]="['login']">Sign in</a>
		<a class="navbar-brand" [routerLink]="['register']">Sign up</a>
		<a class="navbar-brand" [routerLink]="['properties']">Show Listing </a>
		<a class="navbar-brand" [routerLink]="['addprop']">Add New Listing </a>
		<a class="navbar-brand" [routerLink]="['posts']">Articles </a>
		<a class="navbar-brand" [routerLink]="['users']">Users </a>
		<a class="navbar-brand" [routerLink]="['/photostock']">Photo Stocks</a>
		<a class="navbar-brand" [routerLink]="['/search']">Search Users</a>
	</div>
</nav>
