<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel panel-body">
        <div class="panel panel-heading" *ngFor="let property of propertyData">
          <div>
            <a
              (click)="gotoPropertyList()"
              class="btn btn-primary btn-lg right">
              < Back to property list
          </a>
          </div>
          <h3>
            Property Type :{{ property.name }}
            <i class="glyphicon glyphicon-barcode"></i>
            {{ property.price | currency: "USD" }}
          </h3>

          <div class="thumbnail left">
            <img
              src="assets/images/{{ property.image }}.jpg"
              alt="{{ property.name }}"
            />
            <div class="caption">
              <h4>
                <i class="glyphicon glyphicon-home"></i> {{ property.address }}
              </h4>
              <h4>
                <i class="glyphicon glyphicon-pencil"></i>
                {{ property.description }}
              </h4>
            </div>
          </div>
        </div>
        <a (click)="gotoPropertyList()" class="btn btn-primary btn-lg">
          Back to property list
        </a>
      </div>
    </div>
  </div>
</div>
