<div *ngIf="error">
            <div class="col-sm-8">
            <div class="alert alert-warning">
              <strong>Failed to load resource: net::ERR_INTERNET_DISCONNECTED<br>
              </strong>
              The server was unable to process the request due to an internal error,
For more information about the error, either API Server is down that is not able to process data or either you internet connection is too slow , if API Server is down then our team is inspecting the outage as soon as possible, once it is up , we would notify you soon ..
            </div>
          </div>
          </div>

<div *ngIf="showDetails" >

<div class="thumbnail">
    <img src="assets/images/default-post.jpg" alt="post thumbnail">

  <div class="caption">
    <div>
      <h4>
        <span class="label label-primary">
          PostId : {{ post.id }}
        </span>
      </h4>
      <h3>
        <i class="glyphicon glyphicon-tag"></i>
         {{ post.userId }}
      </h3>
      <h4>
        <i class="glyphicon glyphicon-fire"></i>
          {{ title.shortTittle( post.title) }}
      </h4>

      <hr>

      <button
        class="btn btn-sm btn-success">
        Details
      </button>

    </div>
  </div>
</div>
</div>
